parameters:
    level: 7
    paths:
        - src
        - tests
    excludePaths:
        - vendor
        - tests/bootstrap.php
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        # Redmine API library is not fully typed
        - '#Call to an undefined method Redmine\\Api::#'

        # Symfony UserInterface returns string, PHPStan expects non-empty-string
        - '#Method App\\Security\\JwtUser::getUserIdentifier\(\) should return non-empty-string but returns string#'
 